// Place all the styles related to the Root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
  margin: 0px;
}

h1 {
  margin: 0;
}

button:focus {
  outline: 0;
}

.splash {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://res.cloudinary.com/mccapes-construction/image/upload/v1517440739/restaurant-laughing_surztv.jpg");
  max-width: 1200px;
  min-width: 800px;
  height: 650px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  font-family: "Rammetto One";
  color: white;

  .splash-top {
    display: flex;
    justify-content: space-between;
    font-size: 50px;
    width: 100%;
    height: 200px;

    .splash-logo-box {
      width: 33%;

      .splash-logo {
        width: 150px;
        height: 150px;
        margin-top: 10px;
        margin-left: 25px;
      }
    }

    .splash-title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0;
      width: 33%;
    }

    .splash-top-right {
      width: 33%;
    }
  }

  .splash-content {
    display: flex;

    .splash-content-left {
      display: flex;
      justify-content: center;
      width: 50%;
      border-radius: 15px;
      margin: 10px;

      .splash-content-description {
        margin: 20px;
        width: 90%;
      }
    }

    .splash-content-right {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;

      .splash-section-btns {
        border-radius: 10px;
        background-color:rgba(255,255,255,0.5);
        width: 200px;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .splash-btn {
          background: #237b98;
          color: white;
          border: none;
          border-radius: 3px;
          width: 100px;
          height: 30px;
          margin: 20px;
        }

        .splash-btn:hover {
          background: #1c627a;
          cursor: pointer;
          transition: background 0.5s ease;
        }
      }
    }
  }
}


.nav-bar {
 display: flex;
 justify-content: space-between;
 align-items: center;
 width: 100%;
 height: 50px;
 background: white;
 border-bottom: 1px solid lightgray;
 font-family: "Rammetto One";
 padding-top: 0px;

 .nav-btn {
   margin-right: 10px;
 }

 .nav-signup-btn {
   background: #237b98;
   color: white;
   border: none;
   border-radius: 3px;
   width: 60px;
   height: 30px;
 }

 .nav-signup-btn:hover {
   background: #1c627a;
   cursor: pointer;
   transition: background 0.5s ease;
 }

 .nav-login-btn {
   margin-right: 10px;
   width: 60px;
   height: 30px;
   background: white;
   border: none;
 }

 .nav-login-btn:hover {
   font-weight: 500;
   cursor: pointer;
   transition: font-weight 0.3s;
 }

 .nav-title {
   display: flex;
   align-items: center;
   height: 50px;
   padding-right: 10px;
   border-right: 1px solid lightgray;
 }

 .nav-logo {
   height: 30px;
   width: auto;
   margin-left: 10px;
   margin-right: 10px;
 }
}

.session {
  display: flex;
  justify-content: space-between;
  width: 220px;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid gray;
  background: white;
}

.modal {
  display: flex;
  justify-content: center;
  margin: 60px auto;
  width: 220px;
  border: none;
  outline: none;
}

.input-fields {
  display: flex;
  justify-content: space-between;
  width: 220px;
}

.session-btn-div {
  display: flex;
  justify-content: center;
}

.session-btn {
  background: #237b98;
  color: white;
  border: none;
  border-radius: 3px;
  width: 60px;
  height: 30px;
}

.session-btn:hover {
  background: #1c627a;
  cursor: pointer;
  transition: background 0.5s ease;
}
